@inherits TvViewBase
@using System.Collections

@if (Data is null)
{
    <TvNullView />
}
else if (IsNumber)
{
    <div class="table-cell">
        <TvNumberView Data="Data!" Options="Options" Depth="Depth" />
    </div>
}
else if (Data is bool boolData)
{
    <div class="table-cell">
        <TvBooleanView Data="boolData" Options="Options" Depth="Depth" />
    </div>
}
else if (Data is DateTime datetimeData)
{
    <div class="table-cell">
        <TvDateTimeView Data="datetimeData" Options="Options" Depth="Depth" />
    </div>
}
else if (Data is string stringData)
{
    <div class="table-cell">
        <TvStringView Data="@stringData" Options="Options" Depth="Depth" />
    </div>
}
else if (Data is IEnumerable enumerableData && !(Data is IDictionary))
{
    <div class="table-cell">
        <TvArrayView Data="enumerableData" Options="Options" Depth="Depth" />
    </div>
}
else
{
    <div class="table-cell">
        <TvObjectView Data="Data" Options="Options" Depth="Depth" />
    </div>
}