@inherits TvViewBase

<div>
  <table class="table-viewer">
    <thead>
      <tr>
        <th colspan="2">
          @Items.Count() keys
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var (key, value) in Items)
      {
        <tr>
          <td class="name">@key</td>
          <td class="value">
            <TvElementView
              Parent="@this"
              Data="value"
              Options="Options"
              Depth="Depth + 1"
            />
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>