table.table-viewer {
  border-collapse: collapse;
  border: 2px solid #4c74b2;
  background-color: white;

  .title {
    background-color: #4c74b2;
    color: #fff;
    font-size: small;
    padding: 2px;
    cursor: pointer;

    .title-wrap {
      display: flex;
      align-items: center;

      .key-name {
        margin: 0 16px 0 0;
      }

      .table-button-group {
        display: inline-block;
        visibility: hidden;
      }

      &:hover .table-button-group {
        visibility: initial;
      }
    }
  }

  tbody {
    tr {
      .name {
        background-color: #ccc;
        font-weight: bold;
        border: 1px solid #777;
        border-right: 0px;
        min-width: 40px;
      }
      .value {
        border: 1px solid #ddd;
        border-left: 0px;
        padding-left: 5px;
        min-width: 100px;
      }

      .index {
        font-style: italic;
        color: #999;
        text-align: right;
        min-width: 40px;
        border: 1px solid #ddd;
        border-right: 0px;
        padding-right: 5px;
      }
      .item {
        border: 1px solid #ddd;
        border-left: 0px;
        padding-left: 5px;
        min-width: 100px;
      }

      td {
        padding: 2px;
      }
    }
  }
}

.table-array, .table-object, .table-object-array {
  .title {
    background-color: #4c74b2;
    color: #fff;
    font-size: small;
    padding: 2px;
    cursor: pointer;

    .title-wrap {
      display: flex;
      align-items: center;

      .key-name {
        margin: 0 16px 0 0;
      }

      .table-button-group {
        display: inline-block;
        visibility: hidden;
      }

      &:hover .table-button-group {
        visibility: initial;
      }
    }
  }
}