@page "/"

<PageTitle>Home</PageTitle>

Welcome to your new app.

<TableViewer Data="test" />

<TableViewer Data="person"/>

<TableViewer Data="people"/>

<TableViewer Data="peopleRecord"/>

<table>
    <tr>
        <td>test</td>
    </tr>
</table>

@code {
    object test = new object? [] {null, 2, null, 2, 3,};
    Person person = new Person
        {
            Id = 213,
            Name = "User name",
            Attributes = new Dictionary<string, object>
            {
                ["age"] = 12,
            },
        };

    Person[] people = new Person[]
    {
        new Person
        {
            Id = 213,
            Name = "User name",
            Attributes = new Dictionary<string, object>
            {
                ["age"] = 12,
                ["true"] = true,
                ["false"] = false,
            },
        },
        new Person
        {
            Id = 999,
            Name = "second name",
            Attributes = new Dictionary<string, object>
            {
                ["age"] = 12,
                ["location"] = "France",
            },
        },
    };

    PersonRecord[] peopleRecord = new PersonRecord[]
    {
        null,
        new PersonRecord(
            Id: 213,
            Name: "User name",
            Attributes: new Dictionary<string, object>
            {
                ["age"] = 12,
                ["true"] = true,
                ["false"] = false,
            }
        ),
        new PersonRecord(
            Id: 999,
            Name: "second name",
            Attributes: new Dictionary<string, object>
            {
                ["age"] = 12,
                ["location"] = "France",
            }
        ),
    };
}