@page "/"

<PageTitle>Home</PageTitle>

<MudButton Href="/editor">Editor</MudButton>
<MudButton Href="/update-test">Update test</MudButton>

<div style="padding-left: 10vw;">
<TableViewer Data="test" Options="optionForTest"/>

<TableViewer Data="person" Options="personOption"/>

@if (optionForPeople != null)
{
    <TableViewer Data="people" Options="optionForPeople"/>
}

@if (optionForPR != null)
{
    <TableViewer Data="peopleRecord" Options="optionForPR"/>
}
</div>